@font-face {
  font-family: "eurostile";
      src: url(../fonts/eurostile.TTF);
    }
  
  body{
    width: 100%;
    font-family: "eurostile";
  }


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
  scroll-behavior: smooth;
   font-family: "eurostile";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #nav{
    height: 230px;
    width:100%;
  }
  #nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
   }

  li a{
    display: inline;
    color:black;
    text-align: center;
    padding:14px 14px ;
    margin:0 5px;
    text-decoration: none;
    line-height: 80px;
    float: right;
    font-size:30px;
  }

  label.logo{
    padding:14px 14px ;
    line-height: 80px;
    float:left ;
    align-items: center;
   }

   .imagem{
    width: 350px;
    height: 350px;
    float: left;
   }



  li a:hover{
    color: #6e07f3;
  }


  #checkbtn {
    font-size: 30px;
    color:black;       
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
   }
   #check{
    display:none;
   }

   #sobre-mim{
    width: 1346px;
    height: 1969px;
    margin-top: -160px;
   }


   .avatar{
    height: 500px;
    width: 100%;
    margin-top: 200px;
   }


   .img-ava{
    margin: 32px 0;
    padding-top: 190px;
    width: 300px;
    height: 100%;
    margin-top: -3px;
    margin-left: 150px;
   }


   .eu {
    width: 1347px;
    height: 500px;
    background-color: #6e07f3;
    margin-bottom: 50px;
    
   }
   

   .titulo{
    font-size: 40px;
    padding:50px;
    text-align: center;
    color: white;
   }
   p{
    text-align: center;
    font-size: 20px;
    margin:0;
    line-height: 39.57px;
    font-family: sans-serif;
    color:white;
    margin-bottom: 50px;
    margin-top: -20px;
   }
   
   h2{
    font-size: 50px;
    text-align: center;
    margin-left: 150px;
   }

   .web{
    align-items:center;
    font-size: 20px;
    font-family: "eurostile", sans-serif;
      color: #141c3a;
      margin-bottom: 80px;
  }
  .container {  
    position:relative;
    display:flex;
    justify-content:left;
    align-items:left;
    max-width:1200px;
    flex-wrap:wrap;
    z-index:1;
    }
  
   .card  {
    position:relative;
    width: 400px;
    height:1068px;
    padding: 100px;
    margin:30px;
    margin-left: 80px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    border-radius: 6px;
    background-color: #ffffff;
    border-right: 1px solid #E6ECF8;
    background-color: white;
    cursor:pointer;
    margin-bottom: 50px;
    text-align:center;
    
  }
  
  
  .card2{
    position:relative;
    width: 400px;
    height:1068px;
    padding: 106px;
    margin:30px;
    margin-left: -20px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    border-radius: 6px;
    background-color: #ffffff;
    border-right: 1px solid #E6ECF8;
    background-color: white;
    cursor:pointer;
    margin-bottom: 50px;
    text-align:center;
  }
  
  .card3{
    position:relative;
    width: 400px;
    height:1068px;
    padding: 110px;
    margin:-100px;
    margin-top: 29px;
    margin-left: -20px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    border-radius: 6px;
    background-color: #ffffff;
    border-right: 1px solid #E6ECF8;
    background-color: white;
    cursor:pointer;
    margin-bottom: 50px;
    text-align:center;
  }
  

   .client-side{
    text-align:center;
    font-size:18px;
    color:#141c3a;
    font-family: "eurostile", sans-serif;
    margin: -50px;
    margin-bottom: 5px;
   }
   .server-side{
    text-align:center;
    font-size:18px;
    color:#141c3a;
    font-family: "eurostile", sans-serif;
    margin: -50px;
    margin-bottom: 5px;
   }

   .linguagens{
    text-align:center;
    font-size:18px;
    color: #6e07f3;
    font-family: "eurostile", sans-serif;
   }
   .carregando{
    font-size:54px;
    color:#141c3a;
    text-align:center;
    margin: -48px;
    padding-top: 225px;
   }
   
   .tecnologias{
    text-align:center;
    font-size:18px;
    color:#141c3a;
    font-family: "eurostile", sans-serif;
   }

   .tolls{
    text-align:center;
    font-size:18px;
    color: #6e07f3;
    font-family: "eurostile", sans-serif;
   }


.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5BE9B9 !important;
  color:white;
  margin-bottom: 20px;
}

.icon2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5BE9B9 !important;
  color:white;
  margin-bottom: 20px;
}
#projects{
  display: grid;
  width: 1100px;
  height: 980.98px;
  place-items: center;
  margin-top: 290px;
}
.projetos{
  width: 963px;
  height:770.63px; 
    margin-top: -280px; /* eu parei aqui a div e a section tem que ser alinhadas com alturas e larguras melhores 05/11/2022*/
}

.titulo-projeto{
   font-size: 40px;
   margin:0px 0px 24px;
   padding:35px;
   text-align: center;
  font-family: "eurostile", sans-serif;
  color: #141c3a;
  margin-left: 240px;
}

.p-projetos{
  text-align: center;
  color:#141c3a;
  margin: 5px 0px 24px;
  font-size: 20px;
  margin-left: 180px;
}
.project-grid{
  width:400px;
  height: 100%;
  }
.coluna{
width:340px;
height:227px;
padding:90px;
margin-top: 50px;
box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
border-right: 1px solid #E6ECF8;
background-image: url(./assets/parabocardi.png);
border-radius: 10px;
margin-left:95px;
align-items: center;
cursor: pointer;
}
.coluna:hover {
  background-image: url(./assets/background.png);
  
}

.b-coluna{
  display: none;
 
 
}

.coluna:hover .b-coluna{
 display: inline-block;
 border-radius: 4px;
 background-color:#F1eae3;
 border-radius: 30px;
 color: #141c3a;
 text-align: center;
 font-size: 20px;
 padding: 10px;
 width: 150px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
 font-family: "euroestile";
 margin-top: 65px;
}

.h-coluna{
  
  display: none;
  

}

.coluna:hover .h-coluna{
  display: block;
  margin-top: -70px;
  margin-left: -50px;
  text-align: center;
  width: 250px;
  font-size: 25px;
  font-weight:900;
  
  
}
.b-coluna span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }

 .b-coluna span::after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 }

 .b-coluna:hover span{
  padding-right: 25px;
 }

 .b-coluna:hover span::after{
  opacity: 1;
  right: 0;
 }
 .coluna2{
 position: relative;
 margin:-230px;
 margin-left: 450px;
 width:340px;
 height:227px;
padding:90px;
box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
border-right: 1px solid #E6ECF8;
background-color: blue;
border-radius: 10px;
align-items: center;
cursor: pointer;
}

.coluna3{
  width:340px;
height:227px; 
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  border-right: 1px solid #E6ECF8;
  background-color: blue;
  border-radius: 10px;
  margin-left: 805px;
  align-items: center;
  padding:90px;
  cursor: pointer;
}

.coluna4{
  width:340px;
  height:227px;
  box-shadow: 0 5px 5px  rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  border-right: 1px solid #E6ECF8;
  background-color: blue;
  border-radius: 10px; 
  margin-top: 20px;
  margin-left: 97px;
  align-items: center;
  cursor: pointer;
}

.coluna5{
  width:340px;
height:227px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  border-right: 1px solid #E6ECF8;
  background-color: blue;
  border-radius: 10px; 
  margin:-230px;
 margin-left: 450px;
 cursor: pointer;
}

.coluna6{
  width:340px;
  height:227px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  border-right: 1px solid #E6ECF8;
  background-color: blue;
  border-radius: 10px;
  margin-left: 805px;
  align-items: center;
  padding:90px;
  cursor: pointer;
}


footer{
  background-color: #6e07f3;
  padding: 50px;
  width: 1346px;
  height: 449px;
  color: #ffffff;
}
.p-footer{
  text-align: center;
  margin-top: 0;
  font-size: 20px;
  
}
.nivel-footer{
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: -70px;
  
}



.imagem-f{
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: -30px;
 }

 .logo-footer{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
 }


 #contatos{
  display: grid;
   width: 1300px;
  height: 980px;
  margin-top: -100px;
  margin-bottom: 300px;
 }

 .dados{
 width: 550px;
 height: 600px;
 text-align: center;
 margin-left:360px;
 }
 .h-contato{
  font-size: 40px;
  margin:0px 0px 24px;
  padding:35px;
  text-align: center;
 font-family: "eurostile", sans-serif;
 color: #141c3a;
 margin-top: -50px;
 }

 .p-contato{
  color: #141c3a;
  font-size: 20px;
  margin-top: -30px;
 }
  
 .b-conversa{
  display: inline-block;
  border-radius: 4px;
  background-color:#6e07f3;
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }

 .b-conversa span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }

 .b-conversa span::after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 }

 .b-conversa:hover span{
  padding-right: 25px;
 }

 .b-conversa:hover span::after{
  opacity: 1;
  right: 0;
 }

 .i-botao{
  width: 30px;
  height: 30px;
}

.redes-sociais{
  width: 740px;
  height: 600px;
  margin-top: 190px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-right: 1px solid #E6ECF8;
  border-top:  white;
 margin-right: 390px;
 margin-left: -100px;
 justify-content: center;

}

.h-redes{
  font-size: 40px;
  margin:0px 0px 24px;
  padding:35px;
  text-align: center;
 font-family: "eurostile", sans-serif;
 color: #141c3a;
 margin-top: 10px;
 }

 .p-redes{
  color: #141c3a;
  font-size: 20px;
  margin-top: 10px;
}

.dados-perfil{
    width: 735px;
    height: 475px;
}

.perfil{
  width: 180px;
  height: 180px;
  border-radius: 80%;
  border: 1px solid #141c3a;
  margin-inline: 292px;
  margin-top: -27px;
  margin-bottom: 60px;
  }

  .i-perfil{
      width: 177px;
      height: 177px;
      border-radius: 50%;
      background-color: #e6e2df;
  }
 

.p-perfil{
  font-size: 20px;
  color: #7b68ee;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.icons-redes{
  margin-top: 79px;
  width: 646px;
  height: 173px;
  margin-left: 141px;
  /* margin-right: 63px; */
}

.d-linkedin{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #141c3a;
  cursor: pointer;
  transition: all 0.5s;
  margin: 5px;
  margin-top: 50px;
}

.d-linkedin:hover{
  background-color:#7b68ee;
  
}

.i-linkedin{
  width:30px;
  height:30px;
  margin-top: 20px;
 }


 .github{
  margin-top: -75px;
  width: 70px;
  height: 70px;
  margin-left: 130px;
  border-radius: 50%;
  border: 3px solid #141c3a;
  cursor: pointer;
  
}

.github:hover{
  background-color: #7b68ee;
}


 .i-github{
  width:35px;
  height:35px;
  margin-top: 30px;
  margin-bottom: 10px;
 } 


 .instagram{
  width: 70px;
  height: 70px;
  margin-left: 255px;
  border-radius: 50%;
  border: 3px solid #141c3a;
  cursor: pointer;
  margin-top: -70px;
 }


.i-instagram{
  width:32px;
  height:32px;
  margin-top: 20px;
}

.instagram:hover{
    background-color: #7b68ee;
}

.email{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #141c3a;
  cursor: pointer;
  margin-top: -70px;
   margin-inline:377px;
}

.email:hover{
   background-color: #7b68ee;
}

.i-email{
  width:30px;
  height:30px;
  margin-top: 20px;
}



 

 

/* Midia query---- responsive*/
@media  (max-width:320px){

   #nav-list {
    position:absolute;
    display: block;
    top:70px;
    right:0px;
    width: 100%;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px;
    border-right: 1px solid #E6ECF8;
  background-color: white;
  }
  
  .imagem{
    width: 180px;
    height:100%;
    margin-left: -20px;
  margin-top: -20px;
    float:left;
   }

  body{
    width:100%;
    
  }
  li a{
    font-size:24px;
    top: 80px;
    text-align: center;
    transition: all 1s;
    padding: 50px;
   }
   label.logo{
    font-size: 60px;
    float:left ;
    align-items: center;
   }
   ul{
    padding-top: 50px;
    
  }
  #checkbtn{
  
    display: block;
    }
    #nav-list{
      display:none;
    }
    #nav.active #nav-list{
      display:block;
    }
  
    #sobre-mim{
        width: 100%;
        margin-top: -300px;
    }
    .avatar{
    align-items: center;
    }

    .img-ava{
     height: auto;
     margin-top: -105px;
      margin-left: auto;
    margin-right: auto;
    }
    
   .eu{
    width: 100%;
    height: 40%;
    margin-top: -110px;
   }
   .titulo{
    font-size: 40px;
    color: white;
   }
   p{
    text-align: center;
    font-size: 20px;
    margin:0;
    margin-right: 18px;
    margin-left: 10px;
   
    line-height: 34.57px;
    font-family: "eurostile";
    color:white;
    margin-bottom: 50px;
    margin-top: -20px;
   }
   .container{
    width: 100%;
    height: auto;
    }
    .card{
      width: 100%;
      height: auto;
      margin-left: auto;
    }
    .card2{
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-top: -40px;
    }
    .card3{
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: -40px;
    }
    #projects{
      width: 100%;
      height: auto;
     margin-top: 2400px;
      margin-left: -30px;
    }
    .projetos{
      width: 100%;
      height: auto;
     margin-right: 60px;
      margin-top: -100px;
    }
    .titulo-projeto{
      font-size: 40px;
      padding:35px;
      text-align: center;
     font-family: "eurostile", sans-serif;
     color: #141c3a;
    
   }
  }

 
 
  @media (max-width:480px){

    #nav-list {
      position:absolute;
      display: block;
      top:70px;
      right:0px;
      width: 100%;
      box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px;
      border-right: 1px solid #E6ECF8;
    background-color: white;
    }
    
   .imagem{
      width: 120px;
      height:100%;
      margin-left: -20px;
    margin-top: -20px;
      float:left;
     }
  
    body{
      width:100%;
      
    }
    li a{
      font-size:24px;
      width:100%;
      top: 80px;
      text-align: center;
      transition: all 1s;
      padding: 50px;
     }
     label.logo{
      font-size: 40px;
      float:left ;
      align-items: center;
     }
     ul{
      
      padding-top: 50px;
      
    }
    #checkbtn{
    display: block;
     
   }
      #nav-list{
        display:none;
      }
      #nav.active #nav-list{
        display:block;
      }
    
      #sobre-mim{
          width: 100%;
          margin-top: -300px;
      }
  }

